.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .page-title {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .card-body {
    padding: 20px;
  }
}
