.tutorial-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.tutorial-description {
  font-size: 1.2rem;
  font-weight: 500;
}

.table-cell {
  width: 50%;
}

.tutorial-parameter-key {
  font-weight: 500;
}

.delete-button {
  position: fixed;
  bottom: 20px;
  right: 90px;
  z-index: 5;
}
