<div class='background-container'>
  <div class='expanded-container'>
    <ng-container *ngIf='tutorial'>
      <div class='row'>
        <div class='col-md-8 col-12'>
          <app-image-carousel [tutorialName]='tutorial.name' [imageUrls]='tutorial.imageUrls'></app-image-carousel>
        </div>
        <div class='col-md-4 col-12 d-flex align-items-center justify-content-center'>
          <div class='text-center'>
            <h2 class='tutorial-name'>{{tutorial.name}}</h2>
            <p class='author'>Autor: {{tutorial.authorDTO ? tutorial.authorDTO.username : 'Anonimowy'}}</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <h3 class='section-heading'>Główne składniki:</h3>
          <ul class='ingredient-list'>
            <li *ngFor='let mainIngredient of tutorial.mainIngredientsDTOS'>
              <span class='ingredient'>{{mainIngredient.name}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <h3 class='section-heading'>Opis poradnika:</h3>
          <p class='tutorial-description'>{{tutorial.shortDescription}}</p>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <div class='info-line'>
            <h3 class='section-heading inline-heading'>Kategoria:</h3>
            <p class='tutorial-description inline-description'>{{tutorial.categoryDTO.name}}</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <div class='info-line'>
            <h3 class='section-heading inline-heading'>Typ dania:</h3>
            <p class='tutorial-description inline-description'>{{tutorial.dishDTO.name}}</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <div class='info-line'>
            <h3 class='section-heading inline-heading'>Czas przygotowania:</h3>
            <p class='tutorial-description inline-description'>{{tutorial.timeToPrepare}} minut</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <div class='info-line'>
            <h3 class='section-heading inline-heading'>Trudność przygotowania:</h3>
            <p class='tutorial-description inline-description'>{{tutorial.difficulty}}/5</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <div class='info-line'>
            <h3 class='section-heading inline-heading'>Data utworzenia poradnika:</h3>
            <p class='tutorial-description inline-description'>{{tutorial.creationDate}}</p>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 mt-3'>
          <h3 class='section-heading'>Dodatkowe informacje:</h3>
          <ul class='additional-info-list'>
            <ng-container *ngIf='tutorial.hasMeat || tutorial.isSpicyRecipe || tutorial.isSweetRecipe || tutorial.isVeganRecipe; else noInformation'>
              <li *ngIf='tutorial.hasMeat'>Danie mięsne</li>
              <li *ngIf='tutorial.isVeganRecipe'>Danie wegańskie</li>
              <li *ngIf='tutorial.isSweetRecipe'>Danie na słodko</li>
              <li *ngIf='tutorial.isSpicyRecipe'>Danie na ostro</li>
            </ng-container>
            <ng-template #noInformation>
              <li>Brak informacji...</li>
            </ng-template>
          </ul>
        </div>
      </div>

      <div class='row' *ngIf='parameters'>
        <div class='col-md-12 mt-3'>
          <h3 class='section-heading'>Składniki:</h3>
          <table class='table table-bordered'>
            <tbody>
            <tr *ngFor='let parameter of parameters | keyvalue'>
              <td class='text-end table-cell'><span class='tutorial-parameter-key'>{{parameter.key}}</span></td>
              <td class='text-start table-cell'>{{parameter.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <div [innerHTML]='htmlContent'></div>
    <div class='row'>
      <div class='col-md-12 mt-3'>
        <button mat-raised-button class='action-button' color='primary' (click)='previousPage()'>POPRZEDNIA STRONA</button>
        <button mat-raised-button class='action-button' color='primary' (click)='nextPage()'>NASTĘPNA STRONA</button>
      </div>
    </div>

    <ng-container *ngIf='user$ | async as user'>
      <ng-container *ngIf='isAdmin(user.role) || isAuthor(user.username)'>
        <div class='row'>
          <div class='col-md-12 mt-3'>
            <button (click)='onDeleteTutorial()' class='delete-button' mat-fab color='primary'>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

</div>
