<section class='reset-white-background d-flex flex-column align-items-center justify-content-center'>
    <form class='container reset-form' [formGroup]='resetPasswordForm' (ngSubmit)='onResetPassword()'>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Hasło</mat-label>
          <input type='password' matInput [formControl]='controls.password'>
          <mat-error *ngIf='controls.password.invalid'>{{getErrorMessage(controls.password)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Powtórz hasło</mat-label>
          <input type='password' matInput [formControl]='controls.repeatPassword'>
          <mat-error *ngIf='controls.repeatPassword.invalid'>{{getErrorMessage(controls.repeatPassword)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='alert alert-warning alert-dismissible fade show mt-2' role='alert' *ngIf='resetPasswordErrorMessage'>
        {{resetPasswordErrorMessage}}
      </div>
      <div class='d-flex justify-content-end'>
        <button style='position: relative; top: 5px' mat-raised-button color="primary" [disabled]='resetPasswordForm.invalid'>Zmień hasło</button>
      </div>
    </form>
</section>
<div class='reset-wave-white-orange'></div>
<section class='reset-orange-background'></section>
<div class='reset-wave-orange-grey'></div>
<section class='reset-grey-background'>
  <p class="text-center reset-footer">&copy; Cook Hero 2023. Prawa zastrzeżone</p>
</section>
