<div class='container'>
  <section>
    <div class='autocomplete-search'>
      <mat-form-field>
        <mat-label>Wyszukaj poradniki</mat-label>
        <input type='text' matInput [formControl]='searchControl' [matAutocomplete]='auto'>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor='let option of filteredOptions | async' [value]='option.name'>
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class='searched-params'>
        <mat-form-field>
          <mat-label>Sortuj po</mat-label>
          <mat-select [formControl]='sortControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option value='timeToPrepare'>Czasie przygotowania</mat-option>
            <mat-option value='difficulty'>Trudności wykonania</mat-option>
            <mat-option value='creationDate'>Dacie utworzenia</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sortuj</mat-label>
          <mat-select [formControl]='orderControl'>
            <mat-option value=''>-</mat-option>
            <mat-option value='asc'>Rosnąco</mat-option>
            <mat-option value='desc'>Malejąco</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kategoria</mat-label>
          <mat-select [formControl]='categoryControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option *ngFor='let category of categories; let i = index' [value]='category.shortId'>{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Danie</mat-label>
          <mat-select [formControl]='dishControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option *ngFor='let dish of dishes; let i = index' [value]='dish.shortId'>{{dish.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle></mat-slide-toggle>
      </div>
      <div class='d-flex justify-content-end my-2'>
        <button mat-raised-button color='primary' (click)='searchTutorials()'>
          Wyszukaj poradnik
        </button>
      </div>
    </div>
    <div class='tutorials-list'>
      <app-tutorial-card *ngFor='let simpleTutorial of simpleTutorials' [simpleTutorial]='simpleTutorial'></app-tutorial-card>
    </div>
    <mat-paginator [pageSizeOptions]='[6, 12, 18]' [length]='totalCount' showFirstLastButtons>

    </mat-paginator>
  </section>
</div>

