<div class='mt-3 container'>
  <mat-form-field>
    <mat-label>Wyszukaj poradniki</mat-label>
    <input type='text' matInput [formControl]='searchControl' [matAutocomplete]='auto'>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor='let option of filteredOptions | async' [value]='option.name'>
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class='width-change'>
    <div class='search'>
        <mat-form-field>
          <mat-label>Sortuj po</mat-label>
          <mat-select [formControl]='sortControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option value='timeToPrepare'>Czasie przygotowania</mat-option>
            <mat-option value='difficulty'>Trudności wykonania</mat-option>
            <mat-option value='creationDate'>Dacie utworzenia</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sortuj</mat-label>
          <mat-select [formControl]='orderControl'>
            <mat-option value=''>-</mat-option>
            <mat-option value='asc'>Rosnąco</mat-option>
            <mat-option value='desc'>Malejąco</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kategoria</mat-label>
          <mat-select [formControl]='categoryControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option *ngFor='let category of categories; let i = index' [value]='category.shortId'>{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Danie</mat-label>
          <mat-select [formControl]='dishControl'>
            <mat-option  value=''>-</mat-option>
            <mat-option *ngFor='let dish of dishes; let i = index' [value]='dish.shortId'>{{dish.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]='hasMeat' class='mx-3'><b>Z mięsem</b><img style='margin-left: 10px' width='20px' height='20px' src='assets/meat-icon.svg'></mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]='isVeganRecipe' class='mx-3'><b>Wegańskie</b><img style='margin-left: 10px' width='20px' height='20px' src='assets/vegan-icon.svg'></mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]='isSpicyRecipe' class='mx-3'><b>Na ostro</b><img style='margin-left: 10px' width='20px' height='20px' src='assets/hot-icon.svg'></mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]='isSweetRecipe' class='mx-3'><b>Na słodko</b><img style='margin-left: 10px' width='20px' height='20px' src='assets/sweet-icon.svg'></mat-slide-toggle>
      <div class='d-flex justify-content-end my-2'>
        <button mat-raised-button color='primary' (click)='searchTutorials()'>
          Wyszukaj poradnik
        </button>
      </div>
      <mat-paginator [pageSizeOptions]='[3, 6, 12, 18]' [length]='totalCount' showFirstLastButtons>

      </mat-paginator>
    </div>
    <div class='tutorials-list'>
      <app-tutorial-card *ngFor='let simpleTutorial of simpleTutorials' [simpleTutorial]='simpleTutorial'></app-tutorial-card>
    </div>
  </div>

</div>

