<p class='title'>Witaj w kreatorze poradników!</p>
<div class='container'>
  <section class='mt-3'>
    <mat-form-field (click)='fileInput.click()'>
      <input type='text' [value]='fileName' matInput placeholder='Wybierz zdjęcie' readonly accept='image/png'>
      <mat-icon matSuffix>attach_file</mat-icon>
    </mat-form-field>
    <input type='file' #fileInput (change)='onFileSelected($event)'>
    <div style='padding-bottom: 15px' class='d-flex justify-content-end'>
      <button  type='button' mat-raised-button color='primary' (click)='uploadFile()'>Dodaj zdjęcie</button>
    </div>
    <app-uploaded-images *ngIf='imageUrls.length > 0' [imageUrls]='imageUrls' (deleteImageUrl)='setActiveImagesUrls($event)'></app-uploaded-images>
    <form class='container login-form' [formGroup]='addTutorialForm'>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Nazwa poradnika</mat-label>
          <input matInput [formControl]='controls.name'>
          <mat-error *ngIf='controls.name.invalid'>{{getErrorMessage(controls.name)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Krótki opis</mat-label>
          <input matInput [formControl]='controls.shortDescription'>
          <mat-error *ngIf='controls.shortDescription.invalid'>{{getErrorMessage(controls.shortDescription)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Czas przygotowania [w minutach]</mat-label>
          <input type='number' matInput [formControl]='controls.timeToPrepare'>
          <mat-error *ngIf='controls.timeToPrepare.invalid'>{{getErrorMessage(controls.timeToPrepare)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Poziom trudności [w skali od 1 do 5]</mat-label>
          <input type='number' matInput [formControl]='controls.difficulty'>
          <mat-error *ngIf='controls.difficulty.invalid'>{{getErrorMessage(controls.difficulty)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input mt-2'>
        <mat-form-field>
          <mat-label>Kategoria</mat-label>
          <mat-select [formControl]='controls.categoryShortId'>
            <mat-option value=''>-</mat-option>
            <mat-option *ngFor='let category of categories | async' [value]='category.shortId'>{{category.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf='controls.categoryShortId.invalid'>{{getErrorMessage(controls.categoryShortId)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='form-input mt-2'>
        <mat-form-field>
          <mat-label>Typ dania</mat-label>
          <mat-select [formControl]='controls.dishShortId'>
            <mat-option value=''>-</mat-option>
            <mat-option *ngFor='let dish of dishes | async' [value]='dish.shortId'>{{dish.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf='controls.dishShortId.invalid'>{{getErrorMessage(controls.dishShortId)}}</mat-error>
        </mat-form-field>
      </div>
      <div [formArrayName]='"parameters"' *ngIf='parameters.controls.length > 0'>
        <p>Parametry:</p>
        <div *ngFor='let parameter of parameters.controls; let i = index; let first = first' [formGroupName]='i'>
          <div class='form-control-wrapper'>
            <div class='form-array-input'>
              <mat-form-field appearance='fill'>
                <mat-label>Nazwa parametru</mat-label>
                <input matInput [formControl]='parameters.at(i).controls.key'>
                <mat-error *ngIf='parameters.at(i).controls.key.invalid'>{{getErrorMessage(parameters.at(i).controls.key)}}</mat-error>
              </mat-form-field>
            </div>
            <div class='form-array-input'>
              <mat-form-field appearance='fill'>
                <mat-label>Wartość parametru</mat-label>
                <input matInput [formControl]='parameters.at(i).controls.value'>
                <mat-error *ngIf='parameters.at(i).controls.value.invalid'>{{getErrorMessage(parameters.at(i).controls.value)}}</mat-error>
                <mat-icon matSuffix matTooltip='Usuń parametr' (click)='deleteParameter(i)' *ngIf='!first'>delete</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class='d-flex justify-content-end my-3'>
          <button type='button' mat-raised-button color='primary' (click)='addParameter()'>Dodaj parametr</button>
        </div>
      </div>
    </form>
    <mat-form-field>
      <mat-label>Główne składniki poradnika</mat-label>
      <mat-select [(ngModel)]='selectedIngredient'>
        <mat-option value=''>-</mat-option>
        <mat-option *ngFor='let ingredient of ingredients | async' [value]='ingredient' >{{ingredient.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class='d-flex justify-content-end'>
      <button mat-raised-button color="primary" type='button' (click)='addIngredient()' >Dodaj składnik</button>
    </div>
    <p>Lista głównych składników:</p>
    <li class='main-ing' *ngFor='let mainIngredient of mainIngredients'>
      <span>
        {{mainIngredient.name}}
      </span>
      <button class='bot-trans main-ing' (click)='onDeleteMainIngredient(mainIngredient)' type='button' class="delete-button" mat-fab color="primary">
        <mat-icon class="icon-display">delete</mat-icon>
      </button>
    </li>
    <div class='mt-5'>
      <mat-slide-toggle [(ngModel)]='hasMeat' class='mx-3'>Z mięsem</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]='isVeganRecipe' class='mx-3'>Wegańskie</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]='isSpicyRecipe' class='mx-3'>Na ostro</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]='isSweetRecipe' class='mx-3'>Na słodko</mat-slide-toggle>
    </div>
    <p class='mt-5 '>Dodaj stronę {{pageCount}}:</p>
    <angular-editor [(ngModel)]='pageContentHtml' [config]='config'></angular-editor>
    <div class='mt-2 d-flex justify-content-end'>
      <button mat-raised-button color="primary" type='button' (click)='onAddPage()'>Dodaj stronę {{ pageCount }}</button>
    </div>
    <p>Strony:</p>
    <li *ngFor='let page of pages; let i = index;'>
      <span>
        Strona {{i + 1}}
      </span>
      <button (click)='onDeletePage(page)' type='button' class="bot-trans delete-button" mat-fab color="primary">
        <mat-icon class="icon-display">delete</mat-icon>
      </button>
    </li>
    <div style='height: 10px;'></div>
  </section>
  <div class='my-3 d-flex justify-content-end' (click)='onAddTutorial()'>
    <button  mat-raised-button color="primary" type='button' [disabled]='addTutorialForm.invalid' >Dodaj poradnik</button>
  </div>
</div>
