<div class='container'>
  <ul class='nav nav-tabs my-3'>
    <li class='nav-item'>
      <a class='nav-link' routerLink='kategorie' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Kategorie</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink='dania' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Dania</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink='skladniki' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Składniki</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink='uzytkownicy' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Użytkownicy</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
