<div class="dark-body">
  <div class="custom-container">

  <video style="cursor: none; pointer-events: none" [autoplay]='true' [muted]='true' loop class="background-image-custom" src="assets/CookHeroHomeVideo.mp4" ></video>

  <div class="text-box">
    <h1>COOK HERO</h1>
    <h3>UCZ SIĘ GOTOWANIA ORAZ DZIEL SIĘ SWOJĄ WIEDZĄ Z INNYMI</h3>

    <div class="custom-row">
      <a routerLink='/poradniki' >Przeglądaj poradniki<span>&#x27F6;</span></a>
      <a href="">Przejdź do kreatora<span>&#x27F6;</span></a>
      <span>Przeglądaj bazę poradników kulinarnych lub <br> twórz swoje własne za pomocą kreatora</span>
    </div>
  </div>
</div>
<div class="placeholder"></div>
<section class="dark section-dark">
  <h1 class="h1-right-center">Baza poradników</h1>
  <p class="p-right-center">Nasza baza poradników jest na bieżąco aktualizowana przez naszą społeczność. Wskakuj i sprawdź czy masz ochotę przyrządzić jeden z nich. <span style="color: #FE8C2A ;font-weight: bold">Kliknij w książkę kulinarną aby przenieść się do strony z poradnikami.</span></p>
  <img routerLink='/poradniki' class="tutorial-logo" src="assets/cookbook.png" alt="">
  <div class="curve"></div>
</section>
<section class="orange section-orange">
  <div class="translate-down-orange">
    <h1 class="h1-center">Wirtualna lodówka</h1>
    <p class="p-center">Trzymaj swoje składniki w prywatnej wirtualnej lodówce. Dzięki nim Cook Hero dopasuje odpowiednie przepisy oraz poinformuje Cię jak jakiś ze składników jest bliski przeterminowania.</p>
  </div>
  <img class="fridge-logo" src="assets/fridge.png" alt="">
  <img class="bell-logo" src="assets/bell.png" alt="">
</section>
<section class="grey section-grey">
  <div class="wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="translate-down-grey">
    <h1 class="h1-left-center">Twórz przepisy</h1>
    <p class="p-left-center">Twórz swoje własne przepisy w naszym kreatorze przepisów. <span style="color: #FE8C2A ;font-weight: bold">Kliknij ikonę czapki kucharskiej aby przejść do kreatora</span></p>
  </div>
  <img class="chef-logo" src="assets/chef.png" alt="">
</section>
<div class="spacer bottom-wave"></div>
</div>
