<div style="padding-left: 5%; padding-right: 5%; " class="custom-header" id="header-id">
  <nav class='custom-nav'>
    <img style="width: 15%" src="assets/CookHeroLogo.png" class="logo">
    <ul class='custom-ul'>
      <li class='custom-li'><a class='custom-a' routerLink=''>Strona Główna</a></li>
      <li class='custom-li'><a class='custom-a' routerLink='logowanie'>Zaloguj się</a></li>
      <li class='custom-li'><a class='custom-a' routerLink=''>Konto</a></li>
      <li class='custom-li'><a class='custom-a' routerLink=''>Wirtualna lodówka</a></li>
    </ul>
    <img src="assets/notification-bell.png" class="notification-bell-icon">
  </nav>
</div>
