<div class='tutorial-card'>
  <div [routerLink]='getTutorialDetailsUrl()'>
    <img src='https://i.imgur.com/kHeKKij.jpg' [alt]='simpleTutorial.name' class='card-img-top'>
    <div class='card-body'>
      <h5 class='card-title'><b>{{simpleTutorial.name}}</b></h5>
      <p class='card-text'>Czas do przygotowania: {{simpleTutorial.timeToPrepare}} minut</p>
      <p class='card-text'>Stopień trudności: {{simpleTutorial.difficulty}}/5</p>
      <p class='card-text'>Przepis mięsny: {{simpleTutorial.hasMeat}}</p>
      <p class='card-text'>Przepis wegański: {{simpleTutorial.isVeganRecipe}}</p>
      <p class='card-text'>Przepis na słodko: {{simpleTutorial.isSweetRecipe}}</p>
      <p class='card-text'>Przepis na ostro: {{simpleTutorial.isSpicyRecipe}}</p>
      <p [innerHtml]='simpleTutorial.shortDescription' class='card-text'></p>
    </div>
  </div>
</div>
