.tutorial-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 100px;
  display: flex;
}

.my-body {
  display: flex;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 12px;
}

.tutorial-card:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 1.1rem;
}

.card-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-img {
  width: 280px;
}
