html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.spacer {
  height: 86vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mat-form-field {
  background-color: rgba(255, 255, 255, 0.2);
}

.middle-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.recovery-wave-orange-grey {
  aspect-ratio: 900/75;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("recovery-orange-grey.svg");
}

.recovery-wave-white-orange {
  aspect-ratio: 900/75;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("recovery-white-orange.svg");
}

.register-hint-text {
  font-family: 'poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #333333;
  font-weight: bold;
}

.recovery-white-background {
  background: #FFFFFF;
  height: 25vh;
}

.recovery-orange-background {
  height: 10vh;
  background: #FE8C2A;
}

.recovery-grey-background {
  flex: 1;
  background: #333333;
  margin: 0;
  padding: 0;
}

.recovery-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #FFFFFF;
  border-bottom: 1px solid #c9b9b9;
  width: 90%;
  font-size: 0.8rem;
  margin: auto;
  padding: 20px;
}

.recovery-form {
  position: relative;
  top: 50px;
}

