<section class='recovery-white-background d-flex flex-column align-items-center justify-content-center'>
    <form class='container recovery-form' [formGroup]='recoveryPasswordForm' (ngSubmit)='onRecoveryPassword()'>
      <div class='form-input'>
        <mat-form-field appearance='fill'>
          <mat-label>Email</mat-label>
          <input matInput type='email' [formControl]='controls.email'>
          <mat-error *ngIf='controls.email.invalid'>{{getErrorMessage(controls.email)}}</mat-error>
        </mat-form-field>
      </div>
      <div class='d-flex justify-content-end'>
        <button mat-raised-button color="primary" [disabled]='recoveryPasswordForm.invalid'>Wyślij maila</button>
      </div>
    </form>
</section>
<div class='recovery-wave-white-orange'></div>
<section class='recovery-orange-background'></section>
<div class='recovery-wave-orange-grey'></div>
<section class='recovery-grey-background'>
  <p class="text-center recovery-footer">&copy; Cook Hero 2023. Prawa zastrzeżone</p>
</section>
