.spacer {
  height: 86vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-register {
  background-image: url("background-register.svg");
}

.mat-form-field {
  background-color: rgba(255, 255, 255, 0.2); /* Kolor tła z przezroczystością */
}
