<div class="container">
  <h2 class="page-title">Edytuj składnik</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Aktualne dane:
        <div>Składnik - {{ data.userIngredient.ingredientDTO.name }},</div>
        <div>Ilość - {{ data.userIngredient.quantity }},</div>
        <div>Data ważności - {{ data.userIngredient.expirationDate }}</div>
      </h5>
    </div>
  </div>
  <form [formGroup]="changeUserIngredientForm" (ngSubmit)="onChangeUserIngredient()">
    <div class="form-group">
      <mat-form-field appearance='fill'>
        <mat-label>Ilość</mat-label>
        <input type='number' matInput [formControl]='controls.quantity'>
        <mat-error *ngIf='controls.quantity.invalid'>{{getErrorMessage(controls.quantity)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance='fill'>
        <mat-label>Data ważności</mat-label>
        <input matInput [formControl]='controls.expirationDate'>
        <mat-error *ngIf='controls.expirationDate.invalid'>{{getErrorMessage(controls.expirationDate)}}</mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color='primary' [disabled]="changeUserIngredientForm.invalid">Edytuj składnik</button>
  </form>
</div>
