.spacer {
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-login {
  background-image: url("background-login.svg");
}

.hint-text {
  font-family: 'poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #333333;
  font-weight: bold;
}
